.App {
  height: 100vh;
}
.top {
  width: 100vw;
  min-width: 1440px;
  height: 80px;
  background-color: blue;
}
.app_component {
  display: flex;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 264px;
  background-color: lightblue;
  height: 100vh;
}
.btn {
  margin: 16px 24px;
  height: 40px;
  font-weight: 600;
}
.main {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}
.titlecard {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: lightslategray;
  margin-top: 16px;
  margin-left: 24px;
}
.tile_name {
  position: absolute;
  left: 12px;
  font-weight: 600;
}
